<body>
  <br />
<div>
  <h1>{{title}}</h1>
</div>
<div>

<div class="p1">
<p style="display: block;"><b> It is Simple Counter for Increasing and Decreasing the Value.</b><br>
   <b>I'm Creating this application while learning angular...</b>
</p></div>
</div>
<br />
<div class="bt1">
<button id="btn1" (click)="counter('minus')">Decrease Value (--)</button></div>
<br />
<br />
<div class="p2">
<p><b> Count is:{{count}}</b></p>
<br /></div>
<div class="bt2">
<button id ="btn2" (click)="counter('add')">Increase Value (++)</button></div>
<br />
</body>